<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hello World</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
  </head>

  <body>

    <div class="container">

      <div class="page-header">
        {% if name %}
          <h1>Hello {{ name }}!</h1>
        {% else %}
          <h1>Hello!</h1>
        {% endif %}
      </div>

    </div><!-- /.container -->
  </body>
</html>